@import './para.css';
@import './table.css';
@import './list.css';
@import './blockquote.css';
@import './code.css';

.main-text::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.main-text::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.main-text::-webkit-scrollbar-thumb {
  background: #4d4f53;
  border-radius: 4px;
}

.main-text::-webkit-scrollbar-thumb:hover {
  background: #333;
}
